button {
    background-color: #D9D5D2;
    border: solid 1px black;
    color: #1C3059;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.desc {
    border: solid 1px #152340;
    display: inline-block;
}

.button {
    display: inline-block;
    color: #1C3059;
}