button {
    background-color: "#209d";
    border: solid 1px black;
    color: lightgrey;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.desc {
    border: solid 1px #152340;
}